name: CI/CD Pipeline

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build_and_test:
    runs-on: ubuntu-latest # On utilise un environnement Linux pour la CI

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0 # Nécessaire pour les actions liées aux commits

    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: '3.12' # Utilisez la version Python que vous utilisez localement

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r session2/ml-app/requirements.txt # Ajustez le chemin de requirements.txt
        pip install flake8 # Assurez-vous que flake8 est installé pour le linter

    - name: Run Flake8 Linter
      run: flake8 session2/ml-app/src/ session2/ml-app/tests/ # Ajustez les chemins

    - name: Run Pytest Tests
      run: |
        cd session2/ml-app # Déplacez-vous dans le répertoire de l'application
        pytest -v

    - name: Build and Upload Docker Image Artifact
      uses: docker/build-push-action@v5
      with:
        context: session2/ml-app # Le chemin où se trouve le Dockerfile
        tags: ml-app-ci:latest
        push: false # Ne pas publier (push) l'image vers un registry
        load: true # Charge l'image dans l'environnement du Runner

    - name: Upload Docker Image (Artifact)
      uses: actions/upload-artifact@v4
      with:
        name: docker-image-artifact
        path: /tmp/docker-image.tar # Chemin de l'image chargée dans le Runner
        if-no-files-found: error